
body, html {
  font-family: 'Open Sans', sans-serif;
  background-color: #eee;
  }
.container {
  background-color: #fff;
}
.jumbotron {
  background-image: url("../img/bannerImage.jpg");
  background-size: cover;
  margin-bottom: 0;
  height: 300px;
}

.shadowContainer {
  box-shadow: 0 0 10px #ccc;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
.control-label {font-weight: 400;padding-bottom: 5px;}
.btn-success {margin-top: 15px;}
